@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
      display: flex;
  justify-content: center;
  align-items: center;
}

html {
  height: -webkit-fill-available;
}

.info {
  padding: 20px;
  background: linear-gradient(
    217deg,
    rgba(22, 16, 64, 1),
    rgba(140, 24, 109, 0.8) 70.71%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.image2 {
  display: none;
}

.image1 {
  width: 500px;
}

svg {
  padding: 15px;
  padding-top: 20px;
}

a {
  text-decoration: none;
}

svg:hover path{
  fill: #1df2a4;
}

h1 {
  padding: 0;
  margin: 15px;
  color: white;
  position: fixed;
  right: 0;
  bottom: 0;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 300;
   text-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.bg0 {
  background-image: url(img/BMPproject.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg0 .text1 {
  display: none;
}

.bg0 .text2 {
  display: none;
}

.bg0 .text3 {
  display: none;
}

.bg0 .text4 {
  display: none;
}

.bg0 .text5 {
  display: none;
}

.bg0 .text6 {
  display: none;
}

.bg0 .text7 {
  display: none;
}

.bg0 .text8 {
  display: none;
}

.bg0 .text9 {
  display: none;
}


.bg1 {
  background-image: url(img/cave.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg1 .text0 {
  display: none;
}

.bg1 .text2 {
  display: none;
}

.bg1 .text3 {
  display: none;
}

.bg1 .text4 {
  display: none;
}

.bg1 .text5 {
  display: none;
}

.bg1 .text6 {
  display: none;
}

.bg1 .text7 {
  display: none;
}

.bg1 .text8 {
  display: none;
}

.bg1 .text9 {
  display: none;
}

.bg2 {
  background-image: url(img/caveformation.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg2 .text1 {
  display: none;
}

.bg2 .text0 {
  display: none;
}

.bg2 .text3 {
  display: none;
}

.bg2 .text4 {
  display: none;
}

.bg2 .text5 {
  display: none;
}

.bg2 .text6 {
  display: none;
}

.bg2 .text7 {
  display: none;
}

.bg2 .text8 {
  display: none;
}

.bg2 .text9 {
  display: none;
}

.bg3 {
  background-image: url(img/IMG_5806.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg3 .text1 {
  display: none;
}

.bg3 .text2 {
  display: none;
}

.bg3 .text0 {
  display: none;
}

.bg3 .text4 {
  display: none;
}

.bg3 .text5 {
  display: none;
}

.bg3 .text6 {
  display: none;
}

.bg3 .text7 {
  display: none;
}

.bg3 .text8 {
  display: none;
}

.bg3 .text9 {
  display: none;
}

.bg3 .text3 {
  color: black;
}

.bg4 {
  background-image: url(img/IMG_9348.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg4 .text1 {
  display: none;
}

.bg4 .text2 {
  display: none;
}

.bg4 .text3 {
  display: none;
}

.bg4 .text0 {
  display: none;
}

.bg4 .text5 {
  display: none;
}

.bg4 .text6 {
  display: none;
}

.bg4 .text7 {
  display: none;
}

.bg4 .text8 {
  display: none;
}

.bg4 .text9 {
  display: none;
}

.bg5 {
  background-image: url(img/IMG_9753.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg5 .text1 {
  display: none;
}

.bg5 .text2 {
  display: none;
}

.bg5 .text3 {
  display: none;
}

.bg5 .text4 {
  display: none;
}

.bg5 .text0 {
  display: none;
}

.bg5 .text6 {
  display: none;
}

.bg5 .text7 {
  display: none;
}

.bg5 .text8 {
  display: none;
}

.bg5 .text9 {
  display: none;
}

.bg6 {
  background-image: url(img/SpokanePlantWellnessTop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg6 .text1 {
  display: none;
}

.bg6 .text2 {
  display: none;
}

.bg6 .text3 {
  display: none;
}

.bg6 .text4 {
  display: none;
}

.bg6 .text5 {
  display: none;
}

.bg6 .text0 {
  display: none;
}

.bg6 .text7 {
  display: none;
}

.bg6 .text8 {
  display: none;
}

.bg6 .text9 {
  display: none;
}

.bg7 {
  background-image: url(img/image6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg7 .text1 {
  display: none;
}

.bg7 .text2 {
  display: none;
}

.bg7 .text3 {
  display: none;
}

.bg7 .text4 {
  display: none;
}

.bg7 .text5 {
  display: none;
}

.bg7 .text6 {
  display: none;
}

.bg7 .text0 {
  display: none;
}

.bg7 .text8 {
  display: none;
}

.bg7 .text9 {
  display: none;
}

.bg7 .text7 {
  color: black;
}


.bg8 {
  background-image: url(img/paper.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg8 .text1 {
  display: none;
}

.bg8 .text2 {
  display: none;
}

.bg8 .text3 {
  display: none;
}

.bg8 .text4 {
  display: none;
}

.bg8 .text5 {
  display: none;
}

.bg8 .text6 {
  display: none;
}

.bg8 .text7 {
  display: none;
}

.bg8 .text0 {
  display: none;
}

.bg8 .text9 {
  display: none;
}




@media only screen and (max-device-width: 500px) {
 
  
  .image1 {
    display: none;
  }
  
  .image2 {
    display: block;
    height: 300px;
  }
  svg {
    scale: 1.2;
  }
  
  h1 {
    font-weight: 400;
    margin: 10px;
}
  
  

@media only screen and (max-device-width: 350px) {
  
  .image2 {
    display: block;
    height: 230px;
  }

  svg {
    scale: 1;
  }
  
  h1 {
    font-weight: 300;
    margin: 3px;
}
  }
